<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p3l_kelompok3_i">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_petshop_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TampilProduk"></activity>
        <activity android:name=".TampilLayanan" />
        <activity android:name=".KelolaLayanan" />
        <activity android:name=".KelolaProduk" />
        <activity android:name=".MenuAdminTransaksi" />
        <activity android:name=".KelolaHewan" />
        <activity android:name=".KelolaJenisHewan" />
        <activity android:name=".KelolaUkuranHewan" />
        <activity android:name=".KelolaPegawai" />
        <activity android:name=".TampilUkuranHewan" />
        <activity android:name=".TampilJenisHewan" />
        <activity android:name=".TampilHewan" />
        <activity android:name=".TampilPegawai" />
        <activity android:name=".TampilCustomer" />
        <activity android:name=".KelolaCustomer" />
        <activity android:name=".MenuAdmin" />
        <activity android:name=".DaftarLayanan" />
        <activity android:name=".DaftarProduk" />
        <activity android:name=".Login" />
        <activity android:name=".Layanan" />
        <activity android:name=".Produk" />
        <activity android:name=".Informasi" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>